h3 {
  width: 200px;
  text-align: center;
  margin: 5px;
}
#left {
  color: blue;
}
#right {
  color: red;
}
h2 {
  width: 200px;
  text-align: right;
  margin: 10px;
  color: #bca9f5;
}
